<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>v-model_elementInTable</title>
		<script src="../js/vue.js"></script>
	</head>
	<body>
	    <div id="first">
	        {{show}}
	        <br>
	        v-model     :<input type="text" v-model="show">
	        <span>{{show_type}}</span>
	        <br>
	        v-model.lazy:<input type="text" v-model.lazy="show">
	        <span>{{show_type}}</span>
	        <br>
	        v-model.number:<input type="text" v-model.number="show">
	        <span>{{show_type}}</span>
	        <br>
            v-model.trim:<input type="text" v-model.trim="show">
            <span>{{show_type}}</span>
	        <div class="radio">
	                       男：<input type="radio" value="男" v-model="sex">
	                       女：<input type="radio" value="女" v-model="sex">
	            <hr>
	            <span v-if="sex == ''">未定义</span>
	            <span v-else="sex != ''">{{sex}}</span>
	        </div>
	        
	        <hr><hr>
	        
	        <div class="checkbox">
	                               厨师 <input type="checkbox" value="厨师" v-model="job"/>
	                               老师<input type="checkbox" value="老师" v-model="job"/>
	                               学生 <input type="checkbox" value="学生" v-model="job"/>
	               <hr>
	               <span v-if="job == ''">未定义</span>
                   <span v-else="job != ''">{{job}}</span>
	        </div>
	        <br><br>
	        <div class="select">
	            <select v-model="city">
	                <option>上海</option>
	                <option>广州</option>
	                <option>苏州</option>
	                <option>哈尔滨</option>
	            </select>
	            <hr>
	            <span v-if="city == ''">未定义</span>
	            <span v-else="city != ''">{{city}}</span>
	        </div>
	        
	    </div>
	    
	    <script>
	        var a = new Vue({
	            el:"#first",
	            data:{
	               sex:"",    
	                job:[],
	                city:[],
	                show:1,
	                
	            },
	            computed:{
	                show_type:function(){
	                    return this.show +1 -1;
	                }
	            }
	            
	            
	        });
	    </script>
	</body>
</html>
